.hero.js-hero
    .hero__heading
        h1.page__h1 Find the Right Lawyer <span class="page__nowrap--h1">for Your Legal Issue!</span>
        span.page__sub-head Fast, Free and Confidential
    .page__case-intake-form
        include @lms/source/pug/includes/intro-pages/case-intake-form/base
