.page {
    @include font-with-fallback(Gotham-Book, 14px);

    background: #e7e7e7;
    color: #232222;
}

.page__button {
    @include font-with-fallback(Gotham-Medium, 14px);

    background: #02397b;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    padding: 13px 0;
    text-decoration: none;

    @include media-breakpoint-down(ss) {
        width: 100%;
    }

    @include media-breakpoint-up(sm) {
        @include font-size(15px);

        padding: 18px 38px 17px;
    }

    &:hover {
        background: #044696;
        color: #fff;
        text-decoration: none;
    }

    &:visited {
        color: #fff;
    }
}

.page__checklist {
    border-bottom: 1px solid #f0f1f2;
}

.page__content {
    background: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.page__columns {
    margin-bottom: 20px;

    @include media-breakpoint-up(sm) {
        column-count: 2;
        column-gap: 3em;
    }
}

.page__h1 {
    @include font-with-fallback(Gotham-Medium, 18px);

    font-weight: normal;
    margin-bottom: 0;
    margin-top: 15px;

    @include media-breakpoint-up(sm) {
        @include font-size(35px);

        line-height: 46px;
        margin-top: 72px;
    }

    span {
        @include font-with-fallback(Gotham-Book, 16px);

        line-height: 16px;

        @include media-breakpoint-up(sm) {
            @include font-size(24px);

            line-height: 24px;
        }
    }
}

.intro2 .page__h1 {
    max-height: 130px;

    @include media-breakpoint-up(sm) {
        @include font-size(32px);

        margin-top: 52px;
    }

    @include media-breakpoint-down(ss) {
        margin-bottom: 10px;
    }
}

.page__h1--with-span {
    @include font-size(18px);

    line-height: 25px;
    margin-bottom: 12px;
    margin-top: 15px;

    @include media-breakpoint-up(sm) {
        @include font-size(34px);

        margin-bottom: 20px;
        margin-top: 63px;
    }
}

.page__h2 {
    @include font-with-fallback(Gotham-Medium, 22px);

    font-weight: normal;

    @include media-breakpoint-down(ss) {
        @include font-with-fallback(Gotham-Book, 18px);

        line-height: 30px;
    }

    @include media-breakpoint-up(sm) {
        margin-bottom: 30px;
    }
}

.page__h3 {
    @include font-with-fallback(Gotham-Book, 20px);

    font-weight: normal;
    line-height: 27px;
    margin: 30px 0 18px;
}

.page__checklist,
.page__find-lawyers,
.page__hero,
.page__main-content,
.page__top-rated,
.page__trust-pilot {
    @include media-breakpoint-down(tn) {
        padding-left: 10px;
        padding-right: 10px;
    }

    @include media-breakpoint-between(xs, sm) {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.page__hero {
    @include media-breakpoint-only(sm) {
        padding: 0 36px 36px;
    }
}

.page__link {
    @include font-with-fallback(Gotham-Book, 15px);

    color: #337ab7;
    text-decoration: none;

    &:visited {
        color: #337ab7;
    }

    &:hover {
        color: #02397b;
        text-decoration: underline;
    }

    svg {
        vertical-align: middle;
    }
}

.page__link:hover svg * {
    fill: #02397b;
}

.page__link svg * {
    fill: #337ab7;
}

.page__main-content {
    padding: 15px 0;

    @include media-breakpoint-up(sm) {
        padding: 28px 36px 60px;
    }
}

.page__main-content--border-top {
    border-top: 1px solid #f0f1f2;
}

.page__nowrap {
    white-space: nowrap;
}

.page__p {
    @include font-size(15px);

    line-height: 24px;
    margin: 0 0 18px;

    @include media-breakpoint-up(sm) {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 31px;
        }
    }
}

.page__p--child-visitation-content-fix {
    @include media-breakpoint-up(sm) {
        padding-bottom: 300px;
    }
}

.page__quote {
    @include font-with-fallback(Neuton-Italic, 18px);

    background-color: transparent;
    background-image: url("/images/quote.png");
    background-position: center 31px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #e8eaed;
    border-top: 1px solid #e8eaed;
    color: #3c4043;
    line-height: 30px;
    margin: 26px 0 32px;
    padding: 91px 0 32px;

    @include media-breakpoint-up(sm) {
        background-position: 45px 31px;
        padding: 23px 30px 22px 133px;
    }
}

.page__quote-qoutee {
    color: #3c4043;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    padding: 9px 0 0 50px;
    position: relative;

    &::before {
        content: "\2014";
        left: 0;
        position: absolute;
    }
}

.page__strong {
    @include font-with-fallback(Gotham-Medium);

    font-weight: normal;
}

.page__ul {
    list-style: none;
    padding: 0;
}
