.testimonials {
    position: relative;

    @include media-breakpoint-up(sm) {
        margin-left: 100px;
        margin-right: 100px;
        padding-bottom: 54px;
        text-align: left;
    }
}

.testimonials__item {
    padding: 0 10px;
}

.testimonials__reviewer {
    @include font-size(16px);

    padding-left: 26px;
    position: relative;

    @include media-breakpoint-up(sm) {
        @include font-size(20px);

        margin-left: 70px;
    }

    &::before {
        content: "\2014";
        left: 0;
        position: absolute;
    }
}

.testimonials__slider-buttons {
    bottom: 35px;
    position: absolute;
    right: 50px;

    @include media-breakpoint-down(ss) {
        display: none;
    }
}

.testimonials__slider-dots {
    padding: 15px 0 26px;

    @include media-breakpoint-up(sm) {
        display: none;
    }
}

.testimonials__slider-next,
.testimonials__slider-prev {
    cursor: pointer;
    display: inline-block;
    padding: 20px;

    &::before {
        color: #bdc1c6;
        font-size: 26px;
        line-height: 26px;
    }
}

.testimonials__slider-next:hover::before,
.testimonials__slider-prev:hover::before {
    color: #02397b;
}

.testimonials__slider-next {
    &::before {
        @include icon($fa-var-chevron-right);
    }
}

.testimonials__slider-prev {
    &::before {
        @include icon($fa-var-chevron-left);
    }
}

.testimonials__testimony {
    @include font-size(20px);

    color: #747579;
    font-family: Neuton-Regular, serif;
    font-style: italic;
    line-height: 26px;
    margin-bottom: 13px;
    margin-top: 0;

    @include media-breakpoint-up(sm) {
        @include font-size(22px);

        line-height: 28px;
        margin-bottom: 42px;
    }
}
