.page__checklist.js-sticky-banner-trigger.js-sticky-banner-trigger-mobile
    ul.checklist
        li.checklist__item No fee to present <span class="page__nowrap"> your case
        li.checklist__item Choose from lawyers <span class="page__nowrap"> in your area
        li.checklist__item A 100% confidential service
