.page__trust-pilot.trust-pilot
    img.trust-pilot__logo(
        data-src='/images/trust-pilot-logo.png'
        alt='Trustpilot Logo'
        role='link'
        aria-label='Trust Pilot Logo'
    )
    p.trust-pilot__title Over 5 Million People and Businesses Have Trusted LegalMatch to Find the Right Lawyer
    p.trust-pilot__subtitle Here are some testimonials from our satisfied clients.
    .page__testimonials.testimonials
        ul.testimonials__list.js-testimonial-slider
            li.testimonials__item
                p.testimonials__testimony Very good service - quickly. They continuously follow up with you to make sure your legal issues are handled. I wouldn't trust any other site for all my legal needs. Thank you LegalMatch !!!
                span.testimonials__reviewer Elena Torres, United States
            li.testimonials__item
                p.testimonials__testimony I needed assistance with some legal matters and didn't know where to go. I found LegalMatch and decided to give it a try. Instantly after filling out their questionnaire, I started receiving calls from the exact lawyers I needed.
                span.testimonials__reviewer Diana, United States
            li.testimonials__item
                p.testimonials__testimony I did not get too many replies but the ones I did get were so very helpful, and I am grateful for this avenue to be able to reach out and find the appropriate attorney for me. When you never had to seek any attorney services before it can get pretty overwhelming and this website made everything so much better.
                span.testimonials__reviewer Danielle, United States
        .testimonials__slider-buttons
            span.testimonials__slider-prev.js-testimonial-prev
            span.testimonials__slider-next.js-testimonial-next
        .testimonials__slider-dots.js-testimonial-dots
