header.header
    .container
        span.header__logo
            img.header__logo-image(
                src='/images/logo/md.svg'
                alt='LegalMatch Logo'
                aria-label='LegalMatch Logo'
            )
